
footer{
	width: 100%;
	background-color: rgba(226, 19, 19, 0.603);
	color: #000;
	text-align: center;
	article{
        padding: 10px;
        word-spacing: 10px;
        letter-spacing: 10px;
    }
    
}