section {
	padding-top: 180px;
	width: 90%;
	margin: auto;
	text-align: justify;
    h2{
        color: rgba(226, 19, 19, 0.603);;
    }
    article{
        margin: 16px 0;
        p {
            line-height: 150%;
            color: rgb(95, 95, 95);
            
        }
    }
}